@import "compass/css3";

$prefixes:"-webkit-" "-moz-" "-ms-" "-o-" "";

.wrap{
  width:240px;
  margin:100px auto;
}
.loader{
  list-style:none;
  li{
    $size:20px;
    height:$size;
    line-height:$size;
    width:$size;
    float:left;
    margin-right:8px;
    text-align:center;

    @include border-radius(50%);
	  @include box-shadow(0 2px 4px rgba(0,0,0,.35), inset 0 0 9px 4px rgba(0,82,120,.44)); 
    @include background-image(linear-gradient(bottom, rgb(92, 196, 235), rgb(148, 229, 255) 66%, rgb(149, 229, 255) 67%, rgb(85, 165, 198)));
    
    &:before{
      content:"";
      position:absolute;
      top:0px;
      left:3px;
      right:3px;
      height: 12px;
      @include border-radius(8px 8px 6px 6px/8px);
      @include background-image(linear-gradient(bottom, rgba(255,255,255,0), #fff));
    }
  }
}

@for $i from 1 through 7{
  li:nth-child(#{$i}){
    @each $prefix in $prefixes{
      #{$prefix}animation: upAndDown#{$i} 2s linear infinite;
    }
  }
}

@mixin animation($vendor, $start){
  $offset: $start;
  $add: true;

  @for $i from 0 through 20{

    #{$i * 5}#{"%"}{

      #{$vendor}transform:translate(0em, #{$offset * 3}#{"em"}) scale(0.8 + $offset);

      @if($add){
        $offset: $offset + 0.1;
      }@else{
        $offset: $offset - 0.1;
      }

      @if($offset == 0.5){
        $add:false;
      }
      @if($offset == -0.5){
        $add:true;
      }
    }
  }
}

@-webkit-keyframes upAndDown1{
  @include animation("-webkit-", 0.1);
}
@-webkit-keyframes upAndDown2{
  @include animation("-webkit-", 0);
}
@-webkit-keyframes upAndDown3{
  @include animation("-webkit-", -0.1);
}
@-webkit-keyframes upAndDown4{
  @include animation("-webkit-", -0.2);
}
@-webkit-keyframes upAndDown5{
  @include animation("-webkit-", -0.3);
}
@-webkit-keyframes upAndDown6{
  @include animation("-webkit-", -0.4);
}
@-webkit-keyframes upAndDown7{
  @include animation("-webkit-", -0.5);
}

@-moz-keyframes upAndDown1{
  @include animation("-moz-", 0.1);
}
@-moz-keyframes upAndDown2{
  @include animation("-moz-", 0);
}
@-moz-keyframes upAndDown3{
  @include animation("-moz-", -0.1);
}
@-moz-keyframes upAndDown4{
  @include animation("-moz-", -0.2);
}
@-moz-keyframes upAndDown5{
  @include animation("-moz-", -0.3);
}
@-moz-keyframes upAndDown6{
  @include animation("-moz-", -0.4);
}
@-moz-keyframes upAndDown7{
  @include animation("-moz-", -0.5);
}

@keyframes upAndDown1{
  @include animation("", 0.1);
}
@keyframes upAndDown2{
  @include animation("", 0);
}
@keyframes upAndDown3{
  @include animation("", -0.1);
}
@keyframes upAndDown4{
  @include animation("", -0.2);
}
@keyframes upAndDown5{
  @include animation("", -0.3);
}
@keyframes upAndDown6{
  @include animation("", -0.4);
}
@keyframes upAndDown7{
  @include animation("", -0.5);
}